#docker network create --driver bridge embassy-access-network

services:
  browser-webapi:
    image: ponkorn/browser-webapi:latest
    container_name: embassy-access-browser-webapi
    environment:
      - SERVER_HOST=0.0.0.0
      - SERVER_PORT=3001
      - USE_UI=false
      - BINARY_DATA_DIR=/usr/bin/chromium-browser
      - USER_DATA_DIR=/tmp/chrome_temp
      - IDLE_TIMEOUT_DAYS=365
      - LOG_LEVEL=info
    restart: unless-stopped
    networks:
      - embassy-access-network
    ports:
      - "3001:3001"

  postgres:
    build: ./postgres
    container_name: embassy-access-postgres
    environment:
      POSTGRES_DB: eadb
      POSTGRES_USER: eauser
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-eapassword}
      BACKUP_INTERVAL_DAYS: ${BACKUP_INTERVAL_DAYS:-7}
      PGDATA: /var/lib/postgresql/data
    volumes:
      - postgres-volume:/var/lib/postgresql
      - ./backups:/backups
    restart: unless-stopped
    networks:
      - embassy-access-network
    ports:
      - "3002:5432"

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: embassy-access-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL:-admin@admin.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:-admin}
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - embassy-access-network
    ports:
      - "88:80"
    volumes:
      - pgadmin-volume:/var/lib/pgadmin

networks:
  embassy-access-network:
    name: embassy-access-network
    external: true

volumes:
  postgres-volume:
  pgadmin-volume:
  pgadmin-data: